@import "./colors.less";

@titlebarHeight: 120px;

body {
    overflow-y: hidden;
    margin: 0;
    min-height: 100vh;
    background-image: radial-gradient(#221d33 0%, #1e1b2d 75%);
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    user-select: none;

    canvas {
        filter: blur(3px);
        position: fixed;
        height: 100vh;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }

    .titleBar {
        backdrop-filter: @backdrop-filter;
        padding: 10px;
        color: white;
        background-color: @overlay-color;
        height: @titlebarHeight;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .weather {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            #weatherImage {
                min-height: 0;
                object-fit: contain;
            }

            #weatherTemp {
                display: inline-block;
                text-align: center;
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.7em;
                padding-bottom: 5px;
            }
        }

        #timeElement {
            font-size: 3.3em;
        }

        .date {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2.4em;
        }
    }

    #allBusses {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-height: calc(100vh - @titlebarHeight);
        overflow: hidden;
        transition: margin 1s ease-in-out;
    }

    .noBusses {
        margin-top: 15px;
        display: block;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        color: white;
    }

    #errorBanner {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 100%;
        bottom: 0;
        z-index: 100;
        background-color: yellow;
        transition: opacity 0.3s ease-in-out;

        span {
            display: inline-block;
            position: relative;
            margin: auto 0;
            font-size: 1.4em;
        }
    }

    #alert {
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        z-index: 10000;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            border-radius: 10px;
            background-color: @overlay-color-fill;
            color: white;
            height: 80vh;
            width: 80vw;
            padding: 20px;
            box-sizing: border-box;
            overflow: auto;

            #alertTitle {
                word-wrap: break-word;
                display: block;
                font-size: 3em;
                margin-bottom: 10px;
            }

            #alertMessage {
                user-select: text;
                display: block;
                font-size: 1em;
                opacity: 0.7;
                overflow: auto;
            }
        }
    }
}
