@background-color: rgb(20, 20, 20);
@overlay-color: rgb(40, 40, 40);

body {
    margin: 0;
    min-height: 100vh;
    background-color: @background-color;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    user-select: none;

    .titleBar {
        padding: 10px;
        color: white;
        background-color: @overlay-color;
        height: 100px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .weather {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;

            #weatherImage {
                min-height: 0;
                object-fit: contain;
            }

            #weatherTemp {
                display: inline-block;
                text-align: center;
                width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 1.7em;
                padding-bottom: 5px;
            }
        }

        #timeElement {
            font-size: 3.3em;
        }

        .date {
            width: 100px;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 2.4em;
        }
    }

    .noBusses {
        margin-top: 15px;
        display: block;
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        color: white;
    }
}